body{

    background-color: lightgray;
}

.container{
width: 100%;

}

canvas{

    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    background-color: white;
}